.vscode
.venv

# Don't upload the notebooks/data folder contents
notebooks/data/*

# Don't upload the secrets
mage_project/de-bootcamp-project/io_config.yaml
mage_project/de-bootcamp-project/metadata.yaml


# Don't upload the service account key
pol-it-de-zoomcamp-service-account.json
profiles.yml
secrets.txt
service account github.json